<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
	<Appenders>
		<Appender type="Console" name="Console">
			<Layout type="PatternLayout" pattern="%d %p [%t] %m%n" />
		</Appender>
		<Appender type="File" name="FileAudit" fileName="logs/audit.log">
			<Layout type="PatternLayout" pattern="%d %p %c{1} %C{1.} %m%n" />
		</Appender>
		<Appender type="File" name="FileCheckIn" fileName="logs/checkIn.log">
			<Layout type="PatternLayout" pattern="%d %p %c{1} %C{1.} %m%n" />
		</Appender>
		<Appender type="File" name="FileCheckOut" fileName="logs/audit.log">
			<Layout type="PatternLayout" pattern="%d %p %c{1} %C{1.} %m%n" />
		</Appender>
	</Appenders>
	<Loggers>
		<Logger name="com.trl.checkin" level="trace">
			<AppenderRef ref="FileAudit" />
		</Logger>
		<Logger name="com.trl.checkout" level="trace">
			<AppenderRef ref="FileAudit" />
		</Logger>
		<Logger name="com.trl.sell" level="trace">
			<AppenderRef ref="FileAudit" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="FileAudit" />
		</Root>
	</Loggers>
</Configuration>